# Since the ".env" file is gitignored, you can use the ".env.example" file to
# build a new ".env" file when you clone the repo. Keep this file up-to-date
# when you add new variables to `.env`.

# This file will be committed to version control, so make sure not to have any
# secrets in it. If you are cloning this repo, create a copy of this file named
# ".env" and populate it with your secrets.

# When adding additional environment variables, the schema in "/src/env.js"
# should be updated accordingly.

# Resend
# Used for the newsletter subscription and sending emails.
# @see https://resend.com
RESEND_API_KEY="" # Resend API key
RESEND_AUDIENCE_ID="" # Newsletter audience ID
EMAIL_FROM="blog@example.com" # Email address to send emails from

# Analytics
# Using Umami
# @see https://umami.is
NEXT_PUBLIC_UMAMI_URL="" # URL of your Umami instance
NEXT_PUBLIC_UMAMI_WEBSITE_ID="" # Website ID of your Umami instance

# Application Production URL
NEXT_PUBLIC_BASE_URL=""
